section#consequences-section{
    min-height: 20rem;
    /* background-color: #ecf0fe; */ 
}

#consequences-section .next-btn{
    background-color: #d8e1ff !important;
}

.accordion > .accordion-item{
    padding-bottom: 6px;
}

.accordion > .accordion-item > .accordion-collapse{
    background-color: #f5f5f6;
}

.accordion > .accordion-item > .accordion-header > .accordion-button{
    background-color: #ecf0fe;
}