header{
    height: 40rem;
    border: 1px solid #ddd;
}

nav >.logo{
    font-weight: bold;
    font-size: 1.25em;
}

nav{
    color: black;
    font-size: 1.05rem;
    padding: 1.5rem 0 2rem;
}

nav > ul > li a{
    text-decoration: none;
    color: #555;
    font-weight: 500;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

nav > ul > li > a:hover{
    color: #007bff;
}

.body-content .left{
    height: 10rem;
    background-color: beige;
}

.body-content .right{
    height: 10rem;
    background-color: darkgray;
}