@import url("./css/HeaderStyle.css");
@import url("./css/PourquoiStyle.css");
@import url("./css/ConsequenceStyle.css");
@import url("./css/SolutionStyle.css");
@import url("./css/AproposStyle.css");
@import url("./css/FooterStyle.css");

/* ################### */

.App {
  text-align: center;
}

section{
  padding: 4.5rem 0;
}

.title-header > .section-title{
  font-weight: 700;
}

.title-header > .section-title >b{
  color: #3241ff;
}

.next-btn{
  background-color: #ecf0fe !important;
  color: #5A65D5 !important;
  font-weight: 500 !important;
  padding-right: 12px !important;
  border: none !important;
}
@media (prefers-reduced-motion: no-preference) {

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
